version: "3.9"

x-healthcheck-config: &healthcheck-config
  interval: 30s
  timeout: 10s
  retries: 3
  start_period: 40s

x-deploy-on-front: &deploy-on-front
  deploy:
    replicas: 1
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_01}

x-deploy-on-host-01: &deploy-on-host-01
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_01}
x-deploy-on-host-02: &deploy-on-host-02
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_02}
x-deploy-on-host-03: &deploy-on-host-03
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_03}
        
##################################################################

networks:
  resume:
    external: true

x-network: &network
  networks:
    - resume

x-clickhouse-node-common: &clickhouse-node-common
  image: clickhouse/clickhouse-server:25.9.7.56
  <<: *network
  healthcheck:
      test: wget --no-verbose --tries=1 --spider localhost:8123/ping || exit 1
      <<: *healthcheck-config

x-clickhouse-keeper-common: &clickhouse-keeper-common
  image: clickhouse/clickhouse-keeper:25.9.7.56
  <<: *network

services:

  clickhouse-node-01:
    hostname: clickhouse-node-01
    <<: [*clickhouse-node-common, *deploy-on-front]
    ports:
      - ${CLICKHOUSE_NODE_01_PORT}:8123
      # - 9000:9000
      # - 9126:9126 metrics
    volumes:
      - clickhouse-node-01-data:/var/lib/clickhouse/
    configs:
      - source: clickhouse-node-01-config
        target: /etc/clickhouse-server/config.d/config.xml
      - source: clickhouse-users
        target: /etc/clickhouse-server/users.d/users.xml
  
  clickhouse-node-02:
    hostname: clickhouse-node-02
    <<: [*clickhouse-node-common, *deploy-on-front]
    ports:
      - ${CLICKHOUSE_NODE_02_PORT}:8123
    volumes:
      - clickhouse-node-02-data:/var/lib/clickhouse/
    configs:
      - source: clickhouse-node-02-config
        target: /etc/clickhouse-server/config.d/config.xml
      - source: clickhouse-users
        target: /etc/clickhouse-server/users.d/users.xml

  clickhouse-keeper-01:
    <<: [*clickhouse-keeper-common, *deploy-on-front]
    configs:
      - source: clickhouse-keeper-01-config
        target: /etc/clickhouse-keeper/keeper_config.xml
  
  clickhouse-keeper-02:
    <<: [*clickhouse-keeper-common, *deploy-on-front]
    configs:
      - source: clickhouse-keeper-02-config
        target: /etc/clickhouse-keeper/keeper_config.xml

  clickhouse-keeper-03:
    <<: [*clickhouse-keeper-common, *deploy-on-front]
    configs:
      - source: clickhouse-keeper-03-config
        target: /etc/clickhouse-keeper/keeper_config.xml

  clickhouse-proxy:
    image: tacyuuhon/clickhouse-chproxy:1.26.3
    ports:
      - ${CLICKHOUSE_PROXY_PORT}:80
    configs:
      - source: clickhouse-chproxy-config
        target: /opt/config.yml
    command: [-config, /opt/config.yml]
    <<: [*network, *deploy-on-front]

volumes:
  clickhouse-node-01-data:
  clickhouse-node-02-data:

configs:
  clickhouse-node-01-config:
    file: ./config/clickhouse-node-01.xml
  clickhouse-node-02-config:
    file: ./config/clickhouse-node-02.xml
  clickhouse-keeper-01-config:
    file: ./config/clickhouse-keeper-01.xml
  clickhouse-keeper-02-config:
    file: ./config/clickhouse-keeper-02.xml
  clickhouse-keeper-03-config:
    file: ./config/clickhouse-keeper-03.xml
  clickhouse-chproxy-config:
    file: ./config/chproxy.yml
  clickhouse-users:
    file: ./config/users.xml
