version: "3.9"

x-healthcheck-config: &healthcheck-config
  interval: 30s
  timeout: 10s
  retries: 3
  start_period: 40s

x-deploy-on-front: &deploy-on-front
  deploy:
    replicas: 1
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_01}

x-deploy-on-host-01: &deploy-on-host-01
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_01}
x-deploy-on-host-02: &deploy-on-host-02
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_02}
x-deploy-on-host-03: &deploy-on-host-03
  deploy:
    placement:
      constraints:
        - node.hostname == ${HOSTNAME_03}
        
##################################################################

networks:
  data_platform:
    external: true

x-network: &network
  networks:
    - data_platform

services:
  portainer:
    image: portainer/portainer-ce:2.38.0-alpine
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    ports:
      - 9000:9000
    <<: [*network, *deploy-on-front]

  registry:
    image: registry:3.0.0
    ports:
      - 5000:5000
    # volumes:
    #   - registry-data:/var/lib/registry
    environment:
      REGISTRY_HTTP_ADDR: 0.0.0.0:5000
      REGISTRY_HTTP_HOST: https://registry.meysamaghili.ir
      REGISTRY_AUTH: htpasswd
      REGISTRY_AUTH_HTPASSWD_REALM: registry.meysamaghili.ir
      REGISTRY_AUTH_HTPASSWD_PATH: /auth/htpasswd
    configs:
      - source: registry-htpasswd
        target: /auth/htpasswd
    <<: [*network, *deploy-on-front]

configs:
  registry-htpasswd:
    name: ./configs/htpasswd
    file: registry-htpasswd_2026-02-09-v1

volumes:
  portainer-data:
  registry-data: