$white: #fff !default;
$purple: #a76262 !default;
$light-gray: #aaa !default;
$dark-gray: #333 !default;

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/bit/background-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 0 40px 100px 40px;
    box-shadow: 1px 2px 10px 0 $light-gray;
    width: 400px;
    height: 500px;

    &.product-description {
        justify-content: center;
        align-items: center;
        background-color: $purple;
        color: $white;
        text-align: center;
        border-radius: 5px 0 0 5px;
    }

    &.login-form {
        justify-content: center;
        align-items: flex-start;
        background-color: $white;
        border-radius: 0 5px 5px 0;

        h1 {
            margin-bottom: 2rem;
            color: $dark-gray;
        }

        form {
            width: 300px;
        }
    }

    .logo {
        margin-bottom: 30px;
    }
}

.logo-small {
    display: none;
}

.mb-10 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .hidden-desktop {
        display: block;
    }

    .card {
        width: auto;
        height: auto;

        &.product-description {
            display: none;
        }

        &.login-form {
            background-color: transparent;
            box-shadow: none;

            .logo-small {
                display: block;
            }
        }
    }
}

